@using MVC_BasicTutorials.Models

@model IEnumerable<MVC_BasicTutorials.Models.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h3>@DateTime.Now.ToShortDateString()</h3>

<p>
    @Html.ActionLink("Create New Student Profile", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
            
            @* @Html.TextArea("Description", null, new { @class = "form-control" }) *@
            @Html.TextBoxFor(m => item.StudentName, new { @class = "form-control" })            
            @Html.TextAreaFor(m => item.Description, new { @class = "form-control" }) 
            Is Enrolled? @Html.CheckBoxFor(m => item.isNewlyEnrolled)
            <br />
            Gender -- Male: @Html.RadioButtonFor(m => item.StudentGender, "Male") Female: @Html.RadioButtonFor(m => item.StudentGender, "Female")
            @Html.DropDownListFor(m => item.StudentGender, new SelectList(Enum.GetValues(typeof(Gender))), "Select Gender")
            @Html.HiddenFor(m => item.StudentId)
            @Html.PasswordFor(m => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentId })
        </td>
    </tr>
}

</table>
